*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	color: #fff;
	background-color: #101111;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.8rem;
}

a,
p,
input {
	color: #fff;
	font-size: 1.6rem;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

svg {
	color: #fff;
	fill: #fff;
}
