.auth-page {
	display: flex;
	justify-content: center;
	width: 100vw;
}

.auth-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 40rem;
	margin-top: 10rem;
}

.input_password {
	display: flex;
	align-items: center;
}

.input_password-button {
	background-color: transparent;
	border: none;
	padding: 0 1.2rem;
}

.input_password-button > svg {
	width: 2rem;
	height: auto;
}

.button {
	color: #000;
	background-color: #d3d3d3;
	font-size: 1.6rem;
	font-weight: 600;
	border-radius: 0.5rem;
	border: none;

	/* TODO */
	padding: 1.8rem;
}

.button:hover {
	cursor: pointer;
}
